body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f7f7f7;
    padding: 20px;
  }
  
  #qr-container {
    margin: 20px auto;
    display: inline-block;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
  }
  
  #mensaje {
    margin-top: 20px;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    white-space: pre-line; /* para mostrar saltos de línea en el textContent */
  }
  
  form {
    display: block;
    margin: 0 auto;
    text-align: left;
    max-width: 300px;
  }
  label, input {
    display: block;
    width: 100%;
  }
  button {
    margin-top: 10px;
    padding: 8px 16px;
    cursor: pointer;
  }
  